$primary-bg-color: #182C61;
$secondary-bg-color: #f5f6fa;
$button-bg-color: #44bd32;
$button-hover-bg-color: #4cd137;
$text-color: #fff;
$font-family: 'Roboto, sans-serif';
$container-max-width: 1024px;